<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin`s page</title>
</head>
<body>
<div align="center">
    <div id="header">
        <h1>You are welcome ADMIN!</h1>
    </div>
    <div>
        <a th:href="@{/profile}">Profile</a>
    </div>

    <div id="button">
        <p>Change or Delete users:</p>
        <input type="button" onclick="location.href='/admin/deleteUser';" value="Change Or Delete users"/>

        <!-- TODO: button don`t work correct. After click connect save      -->
        <p>Log Out</p>
        <input type="button" onclick="location.href='/login';" value="Log Out"/>


    </div>
</body>
</html>
