<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<h2>Search ADVERTISEMENTS</h2>

<form id="search_advertisements"
      th:object="${searchDTO}"
         method="post"

      th:href="@{/advertisement/search/(page=1,sizeList=10)}">
    <div class="form-row align-items-center">
        <div class="col-auto my-1 mr-2">
            <label class="my-1 mr-2" for="advertCategory">Category</label>
            <select th:field="*{category}" class="custom-select mr-sm-2" id="advertCategory">
<!--                <option selected>Choose...</option>-->
                <option th:each="c : ${categories}"
                        th:text="${c.name}"
                        th:selected="(${c.id} == *{category.id})"
                        th:value="${c.id}"
                        ></option>
            </select>
        </div>

        <div class="col-auto my-1 mr-2">
            <label class="my-1 mr-2" for="minPrice">The minimum price</label>
            <input th:field="*{minPrice}" type="number" min="0" class="form-control" id="minPrice" placeholder="minPrice">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-auto my-1 mr-2">
            <label class="my-1 mr-2" for="maxPrice" th:text="'The maximum price (' + *{maxPriceInGroup} + ')'"></label>
            <input th:field="*{maxPrice}" th:value="*{maxPrice}" type="number" min="0" class="form-control" id="maxPrice" placeholder="maxPrice">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="custom-control custom-checkbox">
            <input onchange="f(this)" th:field="*{sortByPrice}" type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Sort by price</label>


                <div th:field="*{sortByPriceFromCheap}" class="custom-control custom-radio">
                    <input th:disabled="*{not sortByPrice}" th:field="*{sortByPriceFromCheap}" value=true th:checked="*{sortByPriceFromCheap}" type="radio" id="sortByPriceFromCheap" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="sortByPriceFromCheap">From cheap to expensive</label>
                </div>
                <div class="custom-control custom-radio">
                    <input th:disabled="*{not sortByPrice}" th:field="*{sortByPriceFromCheap}" value=false th:checked="*{sortByPriceFromCheap == false}" type="radio" id="sortByPriceFromExpensive" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="sortByPriceFromExpensive">From expensive to cheap</label>
                </div>

        </div>

        <div class="col-auto my-1 mr-2">
            <div class="custom-control custom-checkbox">
                <input th:field="*{sortByPostedDate}" type="checkbox" class="custom-control-input" id="sortByPostedDate">
                <label class="custom-control-label" for="sortByPostedDate">Sort by posted date</label>
            </div>
        </div>



<!--        <div style="margin: 5px">-->
<!--            <a class="btn btn-primary btn-lg btn-block"-->
<!--               th:href="@{/advertisement/searchAd/(categoryName=${category.name},page=1,sizeList=10)}"-->
<!--               role="button">Search111</a>-->
<!--            &lt;!&ndash;                       onclick="location.href='/advertisement/all';" &ndash;&gt;-->

<!--        </div>-->

        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>


    </div>

    <script type="application/javascript">
        var radio = document.getElementsByName('customRadio');

        var sortByPriceFromCheap = document.getElementById("sortByPriceFromCheap");
        var sortByPriceFromExpensive = document.getElementById("sortByPriceFromExpensive");
        function f(e) {
            // for (var i = 0; i < radio.length; i++) {
            //     radio[i].disabled = false;
            // }
            if (e.checked){
                sortByPriceFromCheap.disabled = false;
                sortByPriceFromExpensive.disabled = false;
            } else {
                sortByPriceFromCheap.disabled = true;
                sortByPriceFromExpensive.disabled = true;
            }
        }
    </script>
</form>





<!-- TODO: this fragment for view list of adverts-->
<!--<div th:replace="fragments/list_advertisements_pages :: list_of_adverts_pages"></div>-->
<!--th:with="advertisements=${adlogs}"-->
<!--<div style="margin: 5px">-->
<!--    <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>-->
<!--</div>-->

<div style="margin: 5px">
    <div th:replace="fragments/list_advertisements_pages :: list_of_all_search_adverts_pages"></div>
</div>


<nav th:replace="base-layout :: footer"></nav>

</body>
</html>
