<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<div align="center">
    <div>
        <h1>Hello BUYER!!!</h1>
        <p>
            Find your pet and don't be alone in the cold autumn evenings.
        </p>
    </div>


    <div>

        <div class="row">
            <div class="col">
                <p>
                    <div class="card bg-light border-info mb-3" style="width: 50rem;">
                        <a type="button" class="btn btn-info btn-lg"
                           th:href="@{/user/all_pet}">AVAILABLE PRODUCTS
                        </a>
                <p></p>
                <a type="button" class="btn btn-info btn-lg"
                   th:href="@{/user/myOrders}">MY ORDERS
                </a>
                <p></p>
                <a type="button" class="btn btn-info btn-lg"
                   th:href="@{/user/myGoodShopping}">MY BUY
                </a>
                <p></p>
                <a type="button" class="btn btn-info btn-lg"
                   th:href="@{/advertisement/all/(page=1,sizeList=10)}">VIEW ALL ADVERTISEMENTS
                </a>
                <p></p>
                <a type="button" class="btn btn-info btn-lg"
                        th:href="@{/advertisement/search}">SEARCH
                </a>

                <!--    <div style="margin: 5px">-->
                <!--        <p>Search with filters from all advertisements</p>-->
                <!--        <a class="btn btn-primary btn-lg btn-block"-->
                <!--           th:href="@{/advertisement/search}"-->
                <!--           role="button">Search</a>-->
                <!--    </div>-->
            </div>
        </div>
        </p>

        <div class="col-6">
            <p>
            <div th:with="advertisements=${allAdvert}" style="margin: 5px">
                <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>
            </div>
            </p>
        </div>
    </div>
</div>

<nav th:replace="base-layout :: footer"></nav>

</div>
</body>
</html>
