<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: header">

</head>
<body>
<nav th:replace="base-layout :: top_navbar"></nav>

<div align="center">
    <div>
        <h1>Hello BUYER!!!</h1>
        <p>
            Find your pet and don't be alone in the cold autumn evenings.
        </p>
    </div>


    <div>

        <div class="row">
            <div class="col">
                <p>
                <div class="card bg-light border-info mb-3" style="width: 50rem;">

                    <input type="button" onclick="location.href='/user/all_pet';" value="AVAILABLE PRODUCTS"/>

                    <input type="button" onclick="location.href='/user/myOrders';" value="MY ORDERS"/>

                    <input type="button" onclick="location.href='/user/myGoodShopping';" value="MY BUY"/>

                </div>
                </p>
            </div>
            <div class="col-6">
                <p>
                    <img th:src="@{/images/kitPes.jpg}" />
                </p>
            </div>
        </div>

    </div>
</div>
<nav th:replace="base-layout :: footer"></nav>


</body>
</html>
