<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="base-layout :: header">

<body>
<!--TODO put all cards in next teg-->
<!--<div class="row">-->

<div th:fragment="card_response">


<!--    th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'"-->
    <div th:class="${response.isGood()} ?
                            'card text-white bg-success mb-3' :
                            'card text-white bg-danger mb-3'"
             style="width: 50%;">
        <div class="card-header">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-auto">
            <img style="height: 3rem;" th:if="${response.reviewer.photo == null}" th:src="@{/images/220px-User_icon_2.svg.png}"
                 class="mx-auto d-block" alt="this is a photo of the post">
            <img style="height: 3rem;" th:unless="${response.reviewer.photo == null}"
                 th:src="'/resources/uploads/user/' + ${response.reviewer.photo}"
                 class="mx-auto d-block" alt="this is a photo of the post">
                </div>
                <div class="col-md-auto">
            <a role="button" class="btn btn-link" style="color: #b0b1ae"
               th:href="@{/person/info/(idUser=__${response.reviewer.id}__)}"
               th:text="${response.reviewer.firstName} + ' '  + ${response.reviewer.surName}"></a>
<!--
<a th:href="@{/person/info/(idUser=__${advertisement.getSeller().id}__)}" role="button" aria-pressed="true">
                    <i class="fas fa-info-circle"></i></a></p>
-->
                </div>
            </div>
        </div>
        </div>
        <div class="card-body">
            <p class="card-text text-justify" th:text="${response.responseText}"></p>
        </div>
        <div class="card-footer ">
            <small class="text-muted" th:text="'Posted on:  '+${response.posted}"></small>
        </div>
    </div>

</div>

</body>
</html>


