<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="base-layout :: header">

<body>
<!--TODO put all cards in next teg-->
<!--<div class="row">-->

<div class="card bg-light border-info mb-3" style="width: 18rem;" th:fragment="card_advert">
    <div class="card-header">
        <h5 class="card-title" th:if="${advert.title == null}">Your title may be here</h5>
        <h5 class="card-title" th:unless="${advert.title == null}" th:text="${advert.title}"></h5>

    </div>
    <div class="card bg-dark text-white" >
        <img style="height: 12rem;" th:if="${advert.photo == null}" th:src="@{/images/cat.jpg}" class="card-img" alt="this is a photo of the post">

<!--                TODO: change folder? where we save photo -->
        <img style="height: 12rem;" th:unless="${advert.photo == null}" th:src="'/resources/uploads/advertisement/' + ${advert.photo}" class="card-img" alt="this is a photo of the post">
        <div class="card-img-overlay">
            <div class="d-flex align-items-end"
                     style="
                     /*max-height: 20rem;*/
                     background: red;
                     background: rgba(255, 0, 0, 0.5);
                     position: absolute; /* Абсолютное позиционирование */
                     bottom: 1rem; /* Положение от нижнего края */
                     right: 1rem;
                     width: 16rem;">
                <p th:if="${advert.description == null}" class="card-text text-truncate">Some description</p>
                <p th:unless="${advert.description == null}" class="card-text text-truncate" th:text="${advert.description}"></p>
            </div>

        </div>
    </div>
    <div class="card-footer bg-transparent border-success">
        <p class="card-text">Price :
            <span th:if="${advert.price == null}" style="color: #273bff; font-size: 2em"> free </span>
            <span th:unless="${advert.price == null}" th:text="' ' + ${advert.price} + ' '" style="color: red; font-size: 2em"></span>
            $</p>
        <div class="d-flex align-items-end"
                style="max-height: 20rem;
                /*background: red;*/
                /*background: rgba(255, 0, 0, 0.5);*/
                position: absolute; /* Абсолютное позиционирование */
                bottom: 1rem; /* Положение от нижнего края */
                right: 1rem;">

<!--            button : go to description and more functions-->

            <a th:href="@{advertisement/description/__${advert.id}__}" class="btn btn-outline-success"
                           role="button" aria-pressed="true"><i class="fas fa-receipt"></i></a>

        </div>
                <!--        <button th:href="@{/dashboard}" type="button" class="btn btn-outline-success"><i class="fas fa-receipt"></i>Успех</button>-->
<!--        <a href="#" class="card-link"><i class="fas fa-receipt"></i>Переход куда-нибудь</a>-->
<!--        <a href="#" class="btn btn-primary"><i class="fas fa-receipt"></i>Переход куда-нибудь</a>-->
<!--        <a  href="/dashboard" th:href="@{/dashboard}"><i class="fas fa-receipt"></i><span class="sr-only">(current)</span></a>-->
    </div>

</div>

</body>
</html>


