<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="base-layout :: header">

<body>

<div th:fragment="list_responses">
    <h3>RESPONSES</h3>
    <p></p>
    <div th:if="${#lists.isEmpty(responsesDTO)}" class="card text-white bg-info mb-3"
         style="max-width: 25%;">
        <div class="card-header">NO REVIEWS</div>
        <div class="card-body">
            <p th:if="${user.email != #authentication.name}" class="card-text">You can write some review...</p>
            <p th:if="${user.email == #authentication.name}" class="card-text">You can NOT write review about oneself...</p>
        </div>
    </div>
    <div th:each="responseDTO : ${responsesDTO}">
        <div th:replace="fragments/card_response :: card_response"></div>
    </div>
</div>

</body>
</html>


