<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="base-layout :: header">

<body>


<div th:fragment="list_of_all_adverts_pages">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <div th:each="p : ${pagesList}">
                <div th:if="${p == 0}">
                    <li th:if="${page == 1}" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li th:if="${page != 1}" class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                           th:href="@{/advertisement/all/(page=${page} - 1,sizeList=${sizeList})}">Previous</a>
                    </li>

<!--                    <a class="btn btn-primary btn-lg btn-block"-->
<!--                       th:href="@{/advertisement/all/(page=1,sizeList=10)}"-->
<!--                       role="button">View all advertisements</a>-->

                </div>

                <div th:if="${p != 0 && p != -1}"  >
                    <li th:if="${page != p}" class="page-item ">
                        <a class="page-link" th:href="@{/advertisement/all/(page=${p},sizeList=${sizeList})}"
                           th:text="${p}"></a></li>
                    <li th:if="${page == p}" class="page-item disabled">
                        <a class="page-link" style="background-color: #d2a955"
                           th:text="${p}"></a></li>
                </div>

                <div th:if="${p == -1}" >

                    <li th:if="${page == pages}" class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>

                    <li th:if="${page != pages}" class="page-item">
                        <a class="page-link" th:href="@{/advertisement/all/(page=${page} + 1,sizeList=${sizeList})}">Next</a>
                    </li>

                </div>


            </div>
        </ul>
    </nav>

    <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>
</div>


<div th:fragment="list_of_all_own_adverts_pages">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <div th:each="p : ${pagesList}">
                <div th:if="${p == 0}">
                    <li th:if="${page == 1}" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li th:unless="${page == 1}" class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                           th:href="@{/advertisement/allSellersAdvert/(page=${page} - 1,sizeList=${sizeList},userN=${userName})}">Previous</a>
                    </li>

                    <!--                    <a class="btn btn-primary btn-lg btn-block"-->
                    <!--                       th:href="@{/advertisement/all/(page=1,sizeList=10)}"-->
                    <!--                       role="button">View all advertisements</a>-->

                </div>

                <div th:if="${p != 0 && p != -1}"  >
                    <li th:if="${page != p}" class="page-item ">
                        <a class="page-link" th:href="@{/advertisement/allSellersAdvert/(page=${p},sizeList=${sizeList},userN=${userName})}"
                           th:text="${p}"></a></li>
                    <li th:if="${page == p}" class="page-item disabled">
                        <a class="page-link" style="background-color: #d2a955"
                           th:text="${p}"></a></li>
                </div>

                <div th:if="${p == -1}" >

                    <li th:if="${page == pages}" class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>

                    <li th:if="${page != pages}" class="page-item">
                        <a class="page-link" th:href="@{/advertisement/allSellersAdvert/(page=${page} + 1,sizeList=${sizeList},userN=${userName})}">Next</a>
                    </li>

                </div>


            </div>
        </ul>
    </nav>

    <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>
</div>






<div th:fragment="list_of_all_search_adverts_pages">
    <nav th:hidden="${#lists.isEmpty(advertisements)}"
            aria-label="Page navigation example">
        <form id="search_advertisements_pages"
        th:object="${searchDTO}"
        method="post">

<!--            rewrite fields -->
            <div class="col-auto my-1 mr-2" hidden>
                <label class="my-1 mr-2" for="advertCategory">Category</label>
                <select th:field="*{category}" class="custom-select mr-sm-2" id="advertCategory">
                    <!--                <option selected>Choose...</option>-->
                    <option th:each="c : ${categories}"
                            th:text="${c.name}"
                            th:selected="(${c.id} == *{category.id})"
                            th:value="${c.id}"
                    ></option>
                </select>
            </div>
            <div class="col-auto my-1 mr-2" hidden>
                <label class="my-1 mr-2" for="minPrice">The minimum price</label>
                <input th:field="*{minPrice}" type="number" class="form-control" id="minPrice" placeholder="minPrice">
            </div>
            <div class="col-auto my-1 mr-2" hidden>
                <label class="my-1 mr-2" for="maxPrice">The maximum price</label>
                <input th:field="*{maxPrice}" type="number" class="form-control" id="maxPrice" placeholder="maxPrice">
            </div>
            <!-- END           rewrite fields -->


            <ul class="pagination justify-content-center">
                <div th:each="p : ${pagesList}">
                    <div th:if="${p == 0}">
                        <li th:if="${page == 1}" class="page-item disabled">
                            <a class="page-link" tabindex="-1" >Previous</a>
                        </li>
                        <li th:if="${page != 1}" class="page-item">
                            <a role="button" aria-disabled="true" href="#" tabindex="-1" class="page-link"
                               onclick="btnPrevPage(search_advertisements_pages);">Previous</a>
                        </li>

                    </div>

                    <div th:if="${p != 0 && p != -1}"  >
                        <li th:if="${page != p}" class="page-item ">
                            <a role="button" aria-disabled="true" href="#" tabindex="-1" class="page-link"
                               onclick="btnNumberPage(search_advertisements_pages, this.text);"
                               th:text="${p}"></a></li>
                        <li th:if="${page == p}" class="page-item disabled">
                            <a class="page-link" style="background-color: #d2a955"
                               th:text="${p}"></a></li>
                    </div>

                    <div th:if="${p == -1}" >

                        <li th:if="${page == pages}" class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>

                        <li th:if="${page != pages}" class="page-item">
                            <a role="button" aria-disabled="true" href="#" tabindex="-1" class="page-link"
                               onclick="btnNextPage(search_advertisements_pages);"
                               >Next</a>
                        </li>

                    </div>

                </div>
            </ul>

            <button id="btn_submit"
                    type="button"
                    class="btn btn-primary btn-block"
                    hidden></button>

            <script type="application/javascript">
                var btn_submit = document.getElementById("btn_submit");

                function btnPrevPage(element) {

                    page = [[*{page}]] - 1;
                    sizeList = [[*{sizeList}]];
                    element.action = "/advertisement/search/?" +
                            "page=" + page + "&sizeList=" + sizeList;


                    btn_submit.type = "submit";

                    btn_submit.click();
                }

                function btnNumberPage(element, page) {

                    sizeList = [[*{sizeList}]];
                    element.action = "/advertisement/search/?" +
                        "page=" + page + "&sizeList=" + sizeList;

                    btn_submit.type = "submit";
                    btn_submit.click();
                }

                function btnNextPage(element) {
                    page = [[*{page}]] + 1;
                    sizeList = [[*{sizeList}]];
                    element.action = "/advertisement/search/?" +
                        "page=" + page + "&sizeList=" + sizeList;

                    btn_submit.type = "submit";
                    btn_submit.click();
                }
            </script>

        </form>
    </nav>

    <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>

</div>

<!--<div class="row"  th:fragment="list_of_adverts">-->
<!--    <div th:each="advert : ${advertisements}" style="margin: 3px">-->
<!--        <nav th:replace="fragments/card_advertisement :: card_advert"></nav>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>


