<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="base-layout :: header">

<body>


<div class="row"  th:fragment="list_of_adverts">
<!--    <tr th:each="p : ${pets}">-->
    <div th:each="advert : ${advertisements}" style="margin: 3px">
        <nav th:replace="fragments/card_advertisement :: card_advert"></nav>
    </div>



</div>



</body>
</html>


