<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin`s page</title>
</head>
<body>
<div align="center">
    <div id="header">
        <h1>You are welcome ADMIN!</h1>
    </div>
    <div id="button">
        <p>Change or Delete users:</p>
        <input type="button" onclick="location.href='/admin/deleteUser';" value="Change Or Delete users" />
        <p>Log Out</p>
        <input type="button" onclick="location.href='/login';" value="Log Out" />

    </div>
</div>
</body>
</html>