<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pets_olx home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="/images/logo_olx.png">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script defer src="/style_font/js/all.js"></script>

</head>

<!-- TODO: move this file to folder "fragments" , and change links to this fragments in all *.html-->

<body>

<!--Header for all pages-->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" th:fragment="top_navbar">
    <a class="navbar-brand" href="/" th:href="@{/}"><i class="fas fa-cat"></i>OLX pet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard" th:href="@{/dashboard}"><i class="fas fa-igloo"></i>Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active" th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link" href="/profile" th:href="@{/profile}"><i class="fas fa-id-card"></i>Profile</a>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link dropdown-toggle"
                   href="#" id="navbarDropdownAdmin" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    ADMIN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                    <a class="dropdown-item" href="#">TODO Action</a>
                    <a class="dropdown-item" href="#">TODO Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">TODO Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasAuthority('SELLER')">
                <a class="nav-link dropdown-toggle"
                   href="#" id="navbarDropdownSeller" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    SELLER
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSeller">
                    <a class="dropdown-item" href="/advertisement/create">Create my advertisement</a>
                    <a class="dropdown-item"
                       th:href="@{/advertisement/allSellersAdvert/(page=1,sizeList=10)}">View my advertisements</a>
                    <a class="dropdown-item"
                       th:href="@{/advertisement/all/(page=1,sizeList=10)}">View all advertisements</a>
                    <a class="dropdown-item" href="/seller/ordersFromUsers">View purchase requests</a>
                    <a class="dropdown-item" href="/seller/myGoodShopping">View all sold</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasAuthority('USER')">
                <a class="nav-link dropdown-toggle"
                   href="#" id="navbarDropdownUser" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    USER
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" href="/user/all_pet">Available products</a>
                    <a class="dropdown-item" href="/user/myOrders">My orders</a>
                    <a class="dropdown-item" href="/user/myGoodShopping">My buy</a>
                </div>
            </li>

<!--            <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#">Disabled</a>-->
<!--            </li>-->
        </ul>

        <ul class="navbar-nav mr-left"><!--my-2 my-lg-0-->



            <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                <a class="nav-link" href="/login" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign in</a>
            </li>
            <li class="nav-item active" th:if="${#authorization.expression('!isAuthenticated()')}">
                <a class="nav-link" href="/registration" th:href="@{/registration}"><i class="fas fa-user-circle"></i></i>&nbsp;Sign up</a>
            </li>

            <!--   TODO: create in UIControllers  __ @ModelAttribute("user") for correct work this function -->
<!--            <li class="nav-item active" th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--                <a class="nav-link disabled" href="#" th:href="@{/user/profile}">-->
<!--                    <i class="fas fa-user-circle"></i>-->
<!--                    <span th:text="${user.firstName}"></span></a>-->
<!--            </li>-->

            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="nav-link" href="/logout" th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt"></i>&nbsp;Logout
                </a>
            </li>



        </ul>


<!--        <ul class="nav navbar-nav navbar-right">-->
<!--            <li th:if="${#authorization.expression('!isAuthenticated()')}">-->
<!--                <a href="/signin" th:href="@{/signin}">-->
<!--                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in-->
<!--                </a>-->
<!--            </li>-->
<!--            <li th:if="${#authorization.expression('!isAuthenticated()')}">-->
<!--                <a href="/registration" th:href="@{/registration}">-->
<!--                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign up-->
<!--                </a>-->
<!--            </li>-->
<!--            <li th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--                <a href="#" th:href="@{/user/profile}"><span th:text="${user.firstname}"></span></a>-->

<!--            </li>-->
<!--            <li th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--                <a href="/logout" th:href="@{/logout}">-->
<!--                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
    </div>
</nav>

<!--
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'dashboard' ? 'active' : ''}">
                    <a href="#" th:href="@{/dashboard}">Dashboard</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/registration" th:href="@{/registration}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign up
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#" th:href="@{/user/profile}"><span th:text="${user.firstname}"></span></a>

                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

-->

<!--class="sticky-bottom fixed-bottom-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse sticky-bottom footer" th:fragment="footer">
    <div class="navbar-inner" style="width: 100%">
        <div class="container">
            <p></p>
            <p align="center">&copy; 2019 OLX for pets Footer</p>
        </div>
    </div>
</nav>

</body>
</html>
