<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<div>
    <h1>Привіт гість.</h1>
    <p>
        Твої права та можливості в розробці нашої чарівної команди.
        Почекай кілька днів і твої очікування будуть виправдані)))
    </p>
</div>
<div>
    <p>Повернутись і ввійти як авторизований користувач?</p>
    <input type="button" onclick="location.href='/';" value="Повернутись..." />

</div>

<nav th:replace="base-layout :: footer"></nav>


</body>
</html>
