<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<!--TODO: DELETE!!!!! this button "Go To Login Page"-->
<!--<form th:action="@{/login}" method="get">-->
<!--    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>-->
<!--</form>-->
<!--<form th:action="@{/login}" method="get">-->
<!--    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>-->
<!--</form>-->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6" align="center">
            <form id="reg_form"
                    autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{firstName}" placeholder="First name"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{surName}"
                               placeholder="Second name" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{nickName}"
                               placeholder="Nick name" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
                                  class="validation-message"></label>
                        <input type="date" th:field="*{birthday}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="pass" type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" />
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="pass_confirmation" type="password"
                               placeholder="Confirmation Password " class="form-control" />
                        <label id="mess_pass" hidden class="validation-message">The password is incorrect</label>
                    </div>
                </div>

                <fieldset class="form-group" th:field="*{roles}">
                    <div class="col-sm-9">

                        <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                        <div class="col-sm-10" >
                            <div class="form-check" th:each="r : ${rolesList}">
                                <input class="form-check-input"
                                       type="radio"
                                       name="roles"
                                       id="gridRadios1"
                                       th:value="${r.id}"
                                       value="option1"
                                       th:checked="${r.id==user.roles[0].id}">
                                <label class="form-check-label" for="gridRadios1" th:text="${r.name}" >
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button id="btn_submit"
                                type="button"
                                class="btn btn-primary btn-block"
                                onclick="confirmationPass();">Register User</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>

            </form>
        </div>
    </div>
</div>


<nav th:replace="base-layout :: footer"></nav>

<script type="application/javascript">
    var btn_submit = document.getElementById("btn_submit");
    var password = document.getElementById("pass");
    var password_confirmation = document.getElementById("pass_confirmation");
    var mess_pass = document.getElementById("mess_pass");

    function confirmationPass() {
        if (password.value == password_confirmation.value){
            btn_submit.type = "submit";
            btn_submit.click();
        } else {
            mess_pass.hidden = false;
        }
    }
</script>

</body>
</html>
