<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<h1>це сторінка профілю користувача</h1>
    <table>
        <tr>
            <td rowspan="3">
                <div th:if="${user.photo == null}"><img width="200" src="/images/220px-User_icon_2.svg.png"></div>
                <div th:unless="${user.photo == null}"><img width="200" th:src="'/resources/uploads/' + ${user.photo}"></div>
                <form align="center" action="/profile/uploadPhoto" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="selectedFile" style="display: none;" onchange="form.submit()"/>
                    <input type="button" value="Загрузити Фото" onclick="document.getElementById('selectedFile').click();" />
                </form>
            </td>
            <td>Name :  </td>
            <td><span th:text="${user.firstName}"></span> <span th:text="${user.surName}"></span></td>
        </tr>
        <tr><td>Email :  </td><td><span th:text="${user.email}"></span></td></tr>
        <tr><td>Birthday :  </td><td>
        <span th:text="${user.birthday}"></span></td></tr>
        </tr>
    </table>

<nav th:replace="base-layout :: footer"></nav>

</body>
</html>
