<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<div align="center">
    <h1>This is a letter to buyers!</h1>
    <table border="2" cellpadding="5">
        <thead>
        <th>First name</th>
        <th>Second name</th>
        <th>Nick name</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>Delete</th>
        </thead>

        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getSurName()}"></td>
            <td th:text="${user.getNickName()}"></td>
            <td th:text="${user.getBirthday()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <a th:href="@{/admin/deleteUser/__${user.id}__}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


    <nav th:replace="base-layout :: footer"></nav>
</div>
</body>
</html>
