<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6" align="center">
            <form th:action="@{/advertisement/uploadPhoto/__${advertisement.id}__}"
                        method="POST"
                        enctype="multipart/form-data">
                <div class="alert alert-success" role="alert">
                    <h2>GOOD JOB!!!</h2>
                    <p>You have successfully created (or edited) your advertisement</p>
                </div>

                <img style="height: 10rem;"
                        th:if="${advertisement.photo == null}"
                        th:src="@{/images/default_cat.jpg}"
                        alt="this is a photo of the post">
                <img style="height: 16rem;"
                        th:unless="${advertisement.photo == null}"
                        th:src="'/resources/uploads/advertisement/' + ${advertisement.photo}"
                        alt="this is a photo of the post">

                <div th:if="${advertisement.photo == null}" class="alert alert-info" role="alert">
                    Here you can put photo of your advertisement
                </div>
                <div th:unless="${advertisement.photo == null}" class="alert alert-info" role="alert">
                    Here you can edit photo of your advertisement
                </div>

                <!--  TODO: create button "delete" photo              -->

                <input type="file"
                            name="advertPhoto"
                            id="selectedFile"
                            style="display: none;"
                            onchange="form.submit()"/>
                <button class="btn btn-outline-danger btn-lg btn-block"
                            type="button"
                            onclick="document.getElementById('selectedFile').click();" >
                    <i class="far fa-image"></i> Upload photo</button>
            <!--    <input class="btn btn-outline-danger btn-lg btn-block"-->
            <!--                type="button"-->
            <!--                value="Upload photo"-->
            <!--                onclick="document.getElementById('selectedFile').click();" >-->
            </form>

        </div>
    </div>
</div>

<nav th:replace="base-layout :: footer"></nav>

</body>
</html>
