<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base-layout :: header">

</head>
<body>
<nav th:replace="base-layout :: top_navbar"></nav>

ADV ID
<div th:text="${advertisement.id}"></div>
USER ID
<div th:text="${seller.id}"></div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6" align="center">
            <form id="create_advert_form"
                  autocomplete="off" action="#" th:action="@{/advertisement/create}"
                  th:object="${advertisement}" method="post" class="form-horizontal"
                  role="form">
                <h2>Form for EDIT your advertisement</h2>


                <input th:if="${advertisement.id} != null"
                       hidden type="text"
                       class="form-control"
                       th:field="${advertisement.id}"/>

                <div class="form-group">
                    <div class="col-sm-9">
                        <!--                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"-->
                        <!--                               class="validation-message"></label>-->
                        <input type="text" th:field="*{title}" placeholder="The title of the advertisement"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="advertDescription">Description of Advertisement</label>
                        <textarea class="form-control" id="advertDescription" rows="3"
                                  th:field="*{description}"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <!--                        TODO: entering decimal numbers, not integers-->
                        <input type="number" th:field="*{price}" placeholder="Price"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9" >
                        <label for="advertCategory">Category</label>
                        <select th:field="*{category}" class="form-control" id="advertCategory">
                            <option th:each="category : ${categories}"
                                    th:text="${category.name}"
                                    th:value="${category.id}"></option>
                        </select>
                    </div>
                </div>


                <!--  TODO: create subcategory and put it here -->
                <div class="form-group">
                    <div class="col-sm-9">
                        You will can check subcategory in future :)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button id="btn_submit"
                                type="submit"
                                class="btn btn-primary btn-block">Edit ADVERTISEMENT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<nav th:replace="base-layout :: footer"></nav>
</body>
</html>
