<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base-layout :: header">

</head>
<body>
<nav th:replace="base-layout :: top_navbar"></nav>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6" align="center">
            <form id="create_advert_form"
                  autocomplete="off" action="#" th:action="@{/advertisement/create}"
                  th:object="${advertisement}" method="post" class="form-horizontal"
                  role="form">
                <h2>Form for EDIT your advertisement</h2>


                <div th:replace="fragments/form_advertisement :: form_edit_advert"></div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <button id="btn_submit"
                                type="submit"
                                class="btn btn-primary btn-block">Edit ADVERTISEMENT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<nav th:replace="base-layout :: footer"></nav>
</body>
</html>
