<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>


<!--                       onclick="location.href='/advertisement/all';" -->


<!--            <div style="margin: 5px">-->
<!--                <a class="btn btn-primary btn-lg btn-block"-->
<!--                       th:href="@{/advertisement/all/(page=1,sizeList=10)}"-->
<!--                        role="button">View all advertisements</a>-->
<!--&lt;!&ndash;                       onclick="location.href='/advertisement/all';" &ndash;&gt;-->

<!--            </div>-->

<div align="center">
    <div>
        <h1>Hello SELLER!!!</h1>
        <p>
            Create your ad. Sell ​​ads. Make the world a better place.
        </p>
    </div>


    <div>

        <div class="row">
            <div class="col">
                <p>
                    <div class="card bg-light border-info mb-3" style="width: 50rem;">
                        <a type="button" class="btn btn-info btn-lg text-white"
                           onclick="location.href='/advertisement/create';">CREATE MY ADVERTISEMENT
                        </a>
                <p></p>

                <a type="button" class="btn btn-info btn-lg text-white"
                   onclick="location.href='/seller/ordersFromUsers';">VIEW PURCHASE REQUESTS
                </a>
                <p></p>

                <a type="button" class="btn btn-info btn-lg"
                   th:href="@{/advertisement/allSellersAdvert/(page=1,sizeList=10)}">VIEW OWN ADVERTISEMENTS
                </a>
                <p></p>

                <a type="button" class="btn btn-info btn-lg"
                   th:href="@{/advertisement/all/(page=1,sizeList=10)}">VIEW ALL ADVERTISEMENTS
                </a>

                <!--    <div style="margin: 5px">-->
                <!--        <p>Search with filters from all advertisements</p>-->
                <!--        <a class="btn btn-primary btn-lg btn-block"-->
                <!--           th:href="@{/advertisement/search}"-->
                <!--           role="button">Search</a>-->
                <!--    </div>-->
            </div>
        </div>
        </p>

        <div class="col-6">
            <p>
            <div th:with="advertisements=${allAdvert}" style="margin: 5px">
                <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>
            </div>
            </p>
        </div>
    </div>
</div>

<nav th:replace="base-layout :: footer"></nav>

</div>
</body>
</html>
