<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>

<div align="center">
    <div class="pb-5" id="header">
        <h1>Hello SELLER!!!</h1>
        <h1>Create your ad. Sell ​​ads. Make the world a better place.</h1>
    </div>
    <div class="pb-5">
        <div>
            <div style="margin: 5px">
                <input type="button" class="btn btn-primary btn-lg btn-block"
                       onclick="location.href='/advertisement/create';" value="Create my advertisement"/>
            </div>
            <div style="margin: 5px">
                <input type="button" class="btn btn-primary btn-lg btn-block"
                       onclick="location.href='/seller/ordersFromUsers';" value="View purchase requests"/>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col">
                <input type="button" class="btn btn-primary btn-lg btn-block"
                       onclick="location.href='/advertisement/myAll';" value="View my advertisements"/>
            </div>
            <h1></h1>
            <div class="col">
                <input type="button" class="btn btn-primary btn-lg btn-block"
                       onclick="location.href='/seller/myGoodShopping';" value="View all that you sold"/>
            </div>

<!--            <tr th:each="p : ${pets}">-->
<!--            th:with="advertisements=${myAdvert}"-->
<!--            <div th:with="advertisements=${myAdvert}" style="margin: 5px">-->
<!--                <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>-->
<!--            </div>-->


            <div style="margin: 5px">
                <a class="btn btn-primary btn-lg btn-block"
                       th:href="@{/advertisement/all/(page=1,sizeList=10)}"
                        role="button">View all advertisements</a>
<!--                       onclick="location.href='/advertisement/all';" -->

            </div>

            <div th:with="advertisements=${allAdvert}" style="margin: 5px">
                <div th:replace="fragments/list_advertisements :: list_of_adverts"></div>
            </div>
        </div>

    </div>


<nav th:replace="base-layout :: footer"></nav>

</div>
</body>
</html>
