<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: header">

</head>
<body>

<nav th:replace="base-layout :: top_navbar"></nav>
<div align="center">
    <form
            th:object="${user}" method="GET">

        <div class="card bg-light border-info mb-3" style="width: 50rem;">
            <div th:if="${user.photo == null}"><img width="200" src="/images/220px-User_icon_2.svg.png"></div>
            <div th:unless="${user.photo == null}"><img width="200"
                                                        th:src="'/resources/uploads/user/' + ${user.photo}"></div>

            <h1 class="h2" th:text="${user.firstName} + ' ' + ${user.surName}">First name</h1>

            <p>
            <td>Email :</td>
            <td><span th:text="${user.email}">Email</span></td>

        </div>


    <!--        TODO: this button only for seller-->
        <td>
    <!--                <a th:href="@{/advertisement/allSellersAdvertFromUser/__${user.id}__}"-->
            <a th:href="@{/advertisement/allSellersAdvert/(page=1,sizeList=10,userN=${user.email})}"
               class="btn btn-danger">View advertisements</a>
        </td>




    </form>
    <div>
        <!--    <p></p>-->

        <div>
            <div th:replace="fragments/form_response :: form_response"></div>
        </div>

        <div>
            <div th:replace="fragments/list_responses :: list_responses"></div>
        </div>
    </div>
</div>
<nav th:replace="base-layout :: footer"></nav>

</body>
</html>
